# Ignorar archivos temporales
*.tmp
.DS_Store

# Ignorar archivos de compilación
*.o
*.out

# Ignorar directorios específicos
/.vscode

# Ignorar ficheros de pruebas
*.txt
variables_estaticas.c
prueba_gnl.c