# Ignorar archivos temporales
*.tmp

# Ignorar archivos de compilación
*.o
*.out
*.a

# Ignorar directorios específicos
/.vscode
/pruebas

# Ignorar ficheros de pruebas
testprintf.c
ft_variadicas.c
ft_variadicas2.c
ft_prueba_hexadecimal.c